.products {
  &__list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 18px;
    &__item {
      grid-column: span 12;
      @media screen and (min-width: 680px) {
        grid-column: span 4;
      }
      @media screen and (min-width: 768px) {
        grid-column: span 4;
      }
    }
  }
}
