.cartProduct {
  &__product {
    font-family: "Montserrat", sans-serif;
    max-width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 5px 10px 5px;
    border-bottom: 2px solid #ececec;
    &__img-container {
      width: 50px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    &__info {
      display: flex;
      flex-direction: column;

      &__name {
        margin: 0;
        font-size: 14px;
      }

      &__quantity,
      &__price {
        font-size: 14px;
      }
    }

    &__remove {
      width: 10px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
      transform: translateX(-3px);
      img {
        object-fit: cover;
        width: 25px;
      }
    }
  }
}
